.infoList {
  list-style-type: none;
}

.finalResults {
  text-align: center;
}

#new_url_form {
  margin-bottom: 2vh;
}

#match_list {
  margin-bottom: 2vh;
}

#info_display_box {
  min-height: 50vh;
  border: 1px solid black;
}
